/* Main element */
body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  line-height: 1.5;
  font-size: 3.5rem;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

p {
  color: #8f8f8f;
}

.container-fluid {
  padding: 3% 15% 7%;
}

/* Title  */
#title {
  color: #fff;
  background-color: #BF9270;
}

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* navigation bar */
.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
}

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px 0;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat-light';
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Features section */
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

.feature-box {
  text-align: center;
  padding: 4.5%;
}

.icon {
  color: #E6D5B8;
  margin-bottom: 1.5rem;
}

.icon:hover {
  color: #BF9270;
}

/* Testimonials section */
#testimonials {
  text-align: center;
  background-color: #E6D5B8;
  color: #fff;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

/* Press */
#press {
  background-color: #E6D5B8;
  text-align: center;
  padding-bottom: 3%
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA Section */
#cta {
  background-color: #BF9270;
  color: #fff;
  padding: 7% 15%;
  text-align: center;
}

.cta-headig {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Footer Section */
#footer {
  padding: 7% 15%;
  text-align: center;
}

.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1044px) {
  .title-image {
    position: static;
    transform: rotate(0);
  }

  #title {
    text-align: center;
  }
}
